html, body {
    /* remove default browser gaps so header can touch the very top/edges */
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(25, 29, 58);
    background-color: rgb(173, 177, 223);
}

header {
    width: 100vw;
    box-sizing: border-box;
    text-align: center;
    padding: 20px 0;
    background-color:rgb(25, 29, 58);
    color: rgb(255, 255, 255);
}

main {
    /* keep a small top padding so content doesn't touch header */
    padding-top: 10px;
    font-size: 20px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    width: 90%;
}
nav{
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 30px;
}
footer hr{
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: black;
}

header a{
    color:rgb(0, 174, 255);
}
footer p {
    color: rgb(0, 0, 0);
}

footer p a {
    color: rgb(5, 99, 32);
}

a {
    color: rgb(93, 54, 32);
}

a:hover {
    color: rgb(147, 105, 8);
}

a:active {
    color: rgb(158, 85, 2);
}

 /* Introduction CSS*/
figcaption {
    text-align: center;
    font-style: italic;
}

img {
    display: block;
    margin: auto;
}

#intro {
    display: block;
}

li {
    width: 80%;
    margin-bottom: 15px;
}

#quote, #quoteOutput{
    text-align: center;
}

#quote-name, #quoteAuthorOutput{
    text-align: center;
    font-style: italic;
}
/*Intro Form*/
.inactive{
    display: none;
}
legend{
    font-size: 30px;
    border-style: groove;
    border-width: 10px;
    border-color:black;
    padding: 3px;
}
fieldset{
    border-color: black;
    border-width: 10px;
    border-style:groove;
    margin:  20px auto;
}

input, textarea{
    display: block;
    border-width: 2px;
    border-style:solid;
    border-color: black;
    margin-bottom: 20px;
    margin-top: 3px;
}

.courseNumberIn, .courseNameIn, .courseDescriptionIn{
    margin: 3px;
}

input[type="file"]{
    border-style:none;
}

textarea{
    width: 500px;
    height: 50px;
}

#pictureOutput{
    max-width: 800px;
    max-height: 800px;
}
.courseDescriptionIn{
    margin-bottom: 30px;
}
#returnButton{
    background-color: green;
    border-style: solid;
    border-width: 2px;
    width:150px;
    height: 30px;
    font-size: 20px;
    margin: 40px 40%;
}