<footer>
            <hr>
            <nav>
                <ul>
                    <li><a href="https://github.com/Sombr016">GitHub</a></li>
                    <li><a href="https://sombr016.github.io/">GitHub Pages</a></li>
                    <li><a href="https://webpages.charlotte.edu/jkilcrea/">My CLT Website</a></li>
                    <li><a href="./itis3135">Course Page</a></li>
                    <li><a href="https://www.freecodecamp.org/jacob_kilcrease">freeCodeCamp Profile</a></li>
                    <li><a href="https://www.codecademy.com/profiles/JacobKilcrease">Codeacademy Profile</a></li>
                    <li><a href="https://www.linkedin.com/in/jacob-kilcrease-722649328/">LinkedIn Profile</a></li>
    </ul>
    </nav>
    <p>Designed by <a href="./creasecode.co/">CreaseCode</a> &copy; 2025</p>
</footer>