<footer>
<hr>
    <nav>

        <a href="https://github.com/Sombr016">GitHub</a>
        <a href="https://sombr016.github.io/">GitHub Pages</a> ~
        <a href="https://webpages.charlotte.edu/jkilcrea/">My CLT Website</a> ~
        <a href="./itis3135">Course Page</a> ~
        <a href="https://www.freecodecamp.org/jacob_kilcrease">freeCodeCamp Profile</a> ~
        <a href="https://www.codecademy.com/profiles/JacobKilcrease">Codeacademy Profile</a> ~
        <a href="https://www.linkedin.com/in/jacob-kilcrease-722649328/">LinkedIn Profile</a>
    </nav>
    <p>Designed by <a href="./creasecode.co/">CreaseCode</a> &copy; 2025</p>
</footer>