<header>
    <h1> Jacob Kilcrease's Joyous Kiwi | ITIS3135</h1>

    <nav>
        <a href="index.html">Home</a> ~ 
        <a href="introduction.html">Introduction</a> ~ 
        <a href="contract.html">Contract</a> ~ 
        <a href="website_evaluations.html">Website Evaluation</a> ~ 
        <a href="fccfsjs_outline.html">fCC JS Schedule</a> ~ 
        <a href="intro_form.html">Intro Form</a> ~ 
        <a href="client_project_proposal.html">Client Project Proposal</a>
    </nav>
    <nav class="sec-nav">
        <a href="joyous-kiwi/index.html" target="_blank">Mascot Website</a> | 
        <a href="./stuff/rand/later/tH1sWeB51t3.htm" target="_blank">CRAPPY website</a> | 
        <a href="hobby/index.html" target="_blank">Hobby</a> | 
        <a href="https://itis3135-react-seven.vercel.app/" target="_blank">React3</a>
    </nav>
</header>