<header>
    <h1> Jacob Kilcrease's Joyous Kiwi | ITIS3135</h1>

    <nav>
        <a href="index.html" >Home</a> ~
        <a href="introduction.html" >Introduction</a> ~
        <a href="contract.html" >Contract</a> ~ 
        <a href="website_evaluations.html">Website Evaluation</a> ~ 
        <a href="fccfsjs_outline.html">FCC Full Stack JavaScript Outline</a> ~ 
        <a href="intro_form.html">Intro Form</a> ~
        <a href="client_project_proposal.html">Client Project Proposal</a>
    </nav>
</header>